img{width: 100%; display: block;}
.title{text-align: center; color: red;}
.introimgcontainer .maincontainer{
    width: 700px;
    margin: 2em auto;
}
.maincontainer{
    padding: 2rem;
    border: solid gray 2px;
    background-color: aliceblue;
}