
{% extends 'base.html' %}
{%block title%} About Us {%endblock%}
{%block content%}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="infomessage">
            {%for m in messages%}
            <li>{{m}}</li>
        </ul>
    {%endif%}
{%endwith%}

    <h2>User content</h2>

    <h2>User in the list</h2>
    <form method= "POST">
        <label for="name">Employee name: </label>
        <input type="text" name="employee_name" id="name"/>

        <label for="userid">Enter employee id: </label>
        <input type="text" name="employee_id"/>

        <button type="submit">ADD NEW EMPLOYEE</button>
    </form>

    <p>New employee is {{session['employee1']}}</p>
{%endblock%}