.subtitle{border-bottom: dashed 2px blueviolet}
.shadow1{text-shadow:10px 0px 2px red;}
.shadow2{text-shadow:-10px 0px 2px red;}
.shadow3{text-shadow:0px 10px 2px red;}
.shadow4{text-shadow:0px -10px 2px red;}
.shadow5{text-shadow:-5px -5px 4px red;}
.shadow6{text-shadow:-2px 2px 4px red;}
.shadowbox1, .shadowbox2, .shadowbox3, .shadowbox4, .shadowbox5{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 20px;
}
.shadowbox1{box-shadow: 0px 5px 3px red;}
.shadowbox2{box-shadow: 5px 5px 3px red;}
.shadowbox3{box-shadow: 2px 2px 4px red;}
.shadowbox4{box-shadow: 2px 2px 4px red inset;}
.shadowbox5{box-shadow: 0px 0px 5px 10px olive;}
.radiusbox1, .radiusbox2, .radiusbox3, .radiusbox4, .radiusbox5{
    width: 150px;
    height: 150px;
    background-color: chartreuse;
    margin: 30px;
    padding: 20px;
}
.radiusbox1{border-radius: 20px;}
.radiusbox2{border-radius: 100px / 50px;}
.radiusbox3{border-radius: 30px 10px 50px 20px;}
.radiusbox4{border-radius: 10px 50px;}
.radiusbox5{border-radius: 50%;}
.bird{width: 200px; margin: 20px;}
.bird1{border-radius: 50px;}
.bird2{border-radius: 50%;}
.bird3{border-radius: 15px; border: solid hotpink 5px; padding: 20px;}
.bird4{box-shadow: 0px 0px 5px 3px gray; border-radius: 10px;}
img{width: 100%;}
figure img{width: 200px;}
figcaption{margin-bottom: 50px;}
.blur1{filter: blur(1px);}
.blur2{filter: blur(5px);}
.blur3{filter: blur(10px);}

/*static and liquid layouts*/
.maincontainer{
    border: solid gray 1px;
    width: 80%; /*800px for statc*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.leftcolumn{
    background-color: aliceblue;
    width: 70%; /*500px for statc*/
    height: 400px;
}

.section, .article{
    border: solid darkblue 1px;
    height: 200px;
}
.rightcolumn{
    height: 400px;
    width: 29%; /*298px for statc*/
    border: solid red 1px;
}

.images{
    width: 100%; /*800px for statc*/
    border: solid green 1px;
}

/* cards */
.cardcontainer{
    width: 800px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    border: solid 2px lightgray;
    background-color: white;
}
.linkcard{
    text-align: center;
    display: block;
    background-color: darkblue;
    text-decoration: none;
    padding: 1em;
}
.card:hover{
    box-shadow: 0px 0px 5px 2px gray;
    border: crimson solid 2px;
}
.card:hover .linkcard{
    color: crimson;
}
.card2{
    width: 30%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
    overflow: hidden;
    margin: 2%;
}

.cardtitle{
    text-align: center;
    color: crimson;
}
.cardinfo{
    padding: 1rem;
}

.linkcard{
    background-color: darkblue;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.card2:hover{
    box-shadow: 0px 0px 3px 1px gray;
}
.crad:hover .linkcard2{
    background-color: crimson;
    text-decoration: underline;
}